# required by `docker-compose.yml` when spinning up the pgadmin webserver
# configure these in your .env.local with a valid email address and any password, you will be required to use
# these credentials to log into the local pgadmin webserver
PGADMIN_DEFAULT_EMAIL=your@email.address
PGADMIN_DEFAULT_PASSWORD=somepassword

# steam API key used to make profile requests. You'll need to grab one from https://steamcommunity.com/dev/apikey
JUMP_STEAM_API_KEY=ABCDEFGHIJKLMNOP12345678
